{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 140,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"printWidth": 250
			}
		},
		{
			"files": "*.ts",
			"options": {
				"printWidth": 1000
			}
		}
	]
}
