/* PLAYFAIR DISPLAY */

@font-face {
	font-family: 'Playfair Display';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/playfair-display/playfairdisplay-italic-variablefont_wght-webfont.woff2')
			format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/playfair-display/playfairdisplay-italic-variablefont_wght-webfont.woff')
			format('woff');
	font-weight: 100 900; /* Variable font weight range */
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/playfair-display/playfairdisplay-variablefont_wght-webfont.woff2')
			format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/playfair-display/playfairdisplay-variablefont_wght-webfont.woff')
			format('woff');
	font-weight: 100 900; /* Variable font weight range */
	font-style: normal;
}

/* SOURCE SANS 3 */
@font-face {
	font-family: 'Source Sans 3';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/source-sans-3/sourcesans3-italic-variablefont_wght-webfont.woff2')
			format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/source-sans-3/sourcesans3-italic-variablefont_wght-webfont.woff')
			format('woff');
	font-weight: 200 900; /* Variable font weight range */
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans 3';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/source-sans-3/sourcesans3-variablefont_wght-webfont.woff2')
			format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/source-sans-3/sourcesans3-variablefont_wght-webfont.woff')
			format('woff');
	font-weight: 200 900; /* Variable font weight range */
	font-style: normal;
}

/* LATO */
@font-face {
	font-family: 'Lato';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-black-webfont.woff2') format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-black-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-blackitalic-webfont.woff2')
			format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-blackitalic-webfont.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-bold-webfont.woff2') format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-bolditalic-webfont.woff2') format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-bolditalic-webfont.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-italic-webfont.woff2') format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-italic-webfont.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-light-webfont.woff2') format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-lightitalic-webfont.woff2')
			format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-lightitalic-webfont.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-regular-webfont.woff2') format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-thin-webfont.woff2') format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-thin-webfont.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src:
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-thinitalic-webfont.woff2') format('woff2'),
		url('https://seerstudio.b-cdn.net/web-fonts/lato/lato-thinitalic-webfont.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}
