@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import '../static/fonts.css';

@theme {
	/* BREAKPOINTS - BREAKPOINTS - BREAKPOINTS - BREAKPOINTS - BREAKPOINTS -
	BREAKPOINTS */

	--breakpoint-mm: 25rem; /* 400px */
	--breakpoint-lm: 31rem; /* 496px */
	--breakpoint-sm: 40rem; /* 640px */
	--breakpoint-md: 48rem; /* 768px */
	--breakpoint-lt: 53rem; /* 848px */
	--breakpoint-lg: 64rem; /* 1024px */
	--breakpoint-vsd: 70rem; /* 1120px */
	--breakpoint-sd: 75rem; /* 1200px */
	--breakpoint-xl: 80rem; /* 1280px */
	--breakpoint-2xl: 96rem; /* 1536px */

	/* ADDITIONAL COLORS - ADDITIONAL COLORS - ADDITIONAL COLORS - ADDITIONAL COLORS - ADDITIONAL COLORS */
	--color-molly-dark-50: #ecf0ef;
	--color-molly-dark-100: #cdd7d5;
	--color-molly-dark-200: #aebebb;
	--color-molly-dark-300: #8fa6a0;
	--color-molly-dark-400: #6f8d86;
	--color-molly-dark-500: #456b62;
	--color-molly-dark-600: #3e5f57;
	--color-molly-dark-700: #324d47;
	--color-molly-dark-800: #263b36;
	--color-molly-dark-900: #1b2a26;
	--color-molly-dark-950: #0f1816;

	--color-molly-50: #f0f9f7;
	--color-molly-100: #d7eee8;
	--color-molly-200: #bee3da;
	--color-molly-300: #a4d8cc;
	--color-molly-400: #8bcdbd;
	--color-molly-500: #69beaa;
	--color-molly-600: #5ea998;
	--color-molly-700: #4c8a7b;
	--color-molly-800: #3a6a5f;
	--color-molly-900: #294a42;
	--color-molly-950: #172a25;

	/* --radius-*: initial; */

	/* SEMANTIC COLORS - SEMANTIC COLORS - SEMANTIC COLORS - SEMANTIC COLORS - SEMANTIC COLORS */

	/* BACKGROUND (LIGHT MODE ONLY FOR NOW) */
	--color-surface-none: var(--color-transparent);
	--color-surface-default: var(--color-white);
	--color-surface-primary-50: var(--color-molly-50);
	--color-surface-primary-100: var(--color-molly-100);
	--color-surface-primary-200: var(--color-molly-200);
	--color-surface-primary-300: var(--color-molly-300);
	--color-surface-primary-400: var(--color-molly-400);
	--color-surface-primary-500: var(--color-molly-500);
	--color-surface-primary-600: var(--color-molly-600);
	--color-surface-primary-700: var(--color-molly-700);
	--color-surface-primary-800: var(--color-molly-800);
	--color-surface-primary-900: var(--color-molly-900);
	--color-surface-primary-950: var(--color-molly-950);

	/* TEXT */
	/* BODY --> secondary */
	--color-body-secondary-50: var(--color-zinc-50);
	--color-body-secondary-100: var(--color-zinc-100);
	--color-body-secondary-200: var(--color-zinc-200);
	--color-body-secondary-300: var(--color-zinc-300);
	--color-body-secondary-400: var(--color-zinc-400);
	--color-body-secondary-500: var(--color-zinc-500);
	--color-body-secondary-600: var(--color-zinc-600);
	--color-body-secondary-700: var(--color-zinc-700);
	--color-body-secondary-800: var(--color-zinc-800);
	--color-body-secondary-900: var(--color-zinc-900);
	--color-body-secondary-950: var(--color-zinc-950);

	/* BACKGROUND (SECONDARY) */
	--color-surface-secondary-50: var(--color-body-secondary-50);
	--color-surface-secondary-100: var(--color-body-secondary-100);
	--color-surface-secondary-200: var(--color-body-secondary-200);
	--color-surface-secondary-300: var(--color-body-secondary-300);
	--color-surface-secondary-400: var(--color-body-secondary-400);
	--color-surface-secondary-500: var(--color-body-secondary-500);
	--color-surface-secondary-600: var(--color-body-secondary-600);
	--color-surface-secondary-700: var(--color-body-secondary-700);
	--color-surface-secondary-800: var(--color-body-secondary-800);
	--color-surface-secondary-900: var(--color-body-secondary-900);
	--color-surface-secondary-950: var(--color-body-secondary-950);

	/* BODY --> Primary */
	--color-body-primary-50: var(--color-molly-50);
	--color-body-primary-100: var(--color-molly-100);
	--color-body-primary-200: var(--color-molly-200);
	--color-body-primary-300: var(--color-molly-300);
	--color-body-primary-400: var(--color-molly-400);
	--color-body-primary-500: var(--color-molly-500);
	--color-body-primary-600: var(--color-molly-600);
	--color-body-primary-700: var(--color-molly-700);
	--color-body-primary-800: var(--color-molly-800);
	--color-body-primary-900: var(--color-molly-900);
	--color-body-primary-950: var(--color-molly-950);

	/* HEADING */
	/* Heading secondary */
	--color-heading-secondary-50: var(--color-zinc-50);
	--color-heading-secondary-100: var(--color-zinc-100);
	--color-heading-secondary-200: var(--color-zinc-200);
	--color-heading-secondary-300: var(--color-zinc-300);
	--color-heading-secondary-400: var(--color-zinc-400);
	--color-heading-secondary-500: var(--color-zinc-500);
	--color-heading-secondary-600: var(--color-zinc-600);
	--color-heading-secondary-700: var(--color-zinc-700);
	--color-heading-secondary-800: var(--color-zinc-800);
	--color-heading-secondary-900: var(--color-zinc-900);
	--color-heading-secondary-950: var(--color-zinc-950);

	/* Heading Primary */
	--color-heading-primary-50: var(--color-molly-50);
	--color-heading-primary-100: var(--color-molly-100);
	--color-heading-primary-200: var(--color-molly-200);
	--color-heading-primary-300: var(--color-molly-300);
	--color-heading-primary-400: var(--color-molly-400);
	--color-heading-primary-500: var(--color-molly-500);
	--color-heading-primary-600: var(--color-molly-600);
	--color-heading-primary-700: var(--color-molly-700);
	--color-heading-primary-800: var(--color-molly-800);
	--color-heading-primary-900: var(--color-molly-900);
	--color-heading-primary-950: var(--color-molly-950);

	/* UI ELEMENTS */

	/* Button */

	/* For my hover-style button */
	--color-button-primary-surface-default: var(--color-surface-primary-800);
	--color-button-primary-surface-hover: var(--color-surface-primary-400);
	--color-button-primary-border-default: var(--color-surface-primary-800);
	--color-button-primary-border-hover: var(--color-surface-primary-800);

	--color-button-primary-text-default: var(--color-body-primary-50);
	--color-button-primary-text-hover: var(--color-body-primary-800);

	--color-button-primary-outline-focus: var(--color-body-primary-950);

	/* For a normal button: */
	/* --color-button-primary-surface-default: var(--color-surface-primary-800);
	--color-button-primary-surface-hover: var(--color-surface-primary-900);
	--color-button-primary-border-default: var(--color-surface-primary-800);
	--color-button-primary-border-hover: var(--color-surface-primary-900);
	--color-button-primary-text-default: var(--color-body-primary-50);
	--color-button-primary-text-hover: var(--color-body-primary-50); */

	--color-button-secondary-surface-default: var(--color-surface-primary-200);
	--color-button-secondary-surface-hover: var(--color-surface-primary-800);
	--color-button-secondary-border-default: var(--color-surface-primary-300);
	--color-button-secondary-border-hover: var(--color-surface-primary-400);
	--color-button-secondary-text-default: var(--color-body-primary-800);
	--color-button-secondary-text-hover: var(--color-body-primary-50);

	/* CARD */

	/* Navigation */
	/* Header + Nav */
	--color-header-surface-primary: var(--color-surface-primary-50);
	--color-header-outline-primary: var(--color-surface-primary-100);

	/* Navigation Links */
	--color-navlink-text-primary: var(--color-body-primary-900);
	--color-navlink-text-primary-hover: var(--color-body-primary-950);
	--color-navLink-surface-primary-default: var(--color-transparent);
	--color-navLink-surface-primary-hover: var(--color-surface-primary-200);
	--color-navLink-outline-primary-focus: var(--color-surface-primary-700);

	/* Nav Logo */
	--color-logo-primary: var(--color-heading-primary-900);
	/* Others...... */

	/* FONT FAMILY */
	--font-serif: 'Playfair Display', serif;
	--font-sans: 'Source Sans 3', sans-serif;
	--font-special: 'Lato', sans-serif;
	--font-heading: var(--font-serif);
	--font-body: var(--font-sans);
	--font-nav: var(--font-special);
	--font-btn: var(--font-special);
	--font-nav-logo: var(--font-serif);
}

/* html, body {
	scroll-behavior: smooth !important;
} */

:root {
	a,
	button:not([data-melt-accordion-trigger]) {
		@apply not-active:focus-visible:!outline-surface-primary-950/40 !outline-transparent !outline-2 !outline-offset-6 !transition-all !duration-300;
	}

	button[data-melt-accordion-trigger] {
		@apply not-active:focus-visible:!outline-surface-primary-950/40 outline-2 -outline-offset-2 outline-transparent transition-all ;
	}
}
